.DS_Store
.merlin
.bsb.lock
rescript.lock
npm-debug.log
/lib/rescript.lock
/lib/bs/
/lib/ocaml/
/node_modules/
/.idea/sonarlint/issuestore/
/re-fp/src/
/re-fp/tests/
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/coverage/
/lib/ocaml/.compiler.log
/lib/ocaml/.ninja_log
/lib/ocaml/install.stamp
